<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.altysh.firebaseloginandsaving">

    <!-- internet permtion -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- floating icon -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="TASKS" />
    <!-- //////////alarm -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">

        </activity>
        <activity android:name=".ui.addTrip.EditorActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY" />

        <receiver
            android:name=".recivers.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ui.floatingWidgit.FloatingWidgetService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.history.History_Activity"
            android:label="@string/title_activity_history_"
            android:parentActivityName=".ui.main.mainFragment.MainScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.mainFragment.MainScrollingActivity" />
        </activity>
        <!-- //alarm -->
        <service
            android:name=".ReminderAlarm.NotificationService"
            android:enabled="true"
            android:label="NotificationServicelabel" />

        <receiver
            android:name=".ReminderAlarm.MyReceiverDialog"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="NotificationService" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ReminderAlarm.reminder"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />

        <service
            android:name=".ReminderAlarm.SoundService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.history.HistoryDetails"
            android:label="@string/title_activity_history_details"
            android:parentActivityName=".ui.history.History_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.history.History_Activity" />
        </activity>
        <activity
            android:name=".ui.main.mainFragment.MainScrollingActivity"
            android:label="@string/title_activity_main_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>